/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
  
}

a {
    text-decoration: none;
    color: inherit;
}

li {list-style-type: none;}

body {
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */

h1 {
    font-size: 4rem;
}

h2 {font-size: 2rem;}

h3 {
    font-size: 1.6rem;
}
h4 {font-size: 1.3rem;}


/* HEADER */

nav {
    width: 100%;
    margin: 0 auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-nav-left  ul li, .menu-nav-right ul li {
    display: inline-block;
    padding: .4rem .8rem;
    list-style-type: none;
}

.hover-nav:hover {
    color: rgb(103, 103, 226);
}

.logo img {
    vertical-align: middle; 
}

.btn-nav {
    background-color: rgb(42, 42, 215);
    color: white;
    transition: all 1s;
}

.btn-nav:hover {
    background-color: blue;
    color: white;
    transform: scale(1.1);
}

/* HERO */

.hero {
    width: 100%;
    background-color: rgb(178, 210, 248);
    text-align: center;
    padding-top: 60px;
    min-height: 600px;
}

/* MAIN-TEXT */
.principal-text {
    width: 70%;
    margin: 0 auto ;
    text-align: start;
}

/* COLUMN-HERO */
.col-hero{
    width: 70%;
    margin: 5rem auto;
    display: flex;
    justify-content: center;  
}

.col-text-left {
    width: 40%;  
}

.text-hero, .expire{
    width: 60%;
    text-align: left;
    
}





.col-img {
    width: 60%;
}

/* BUTTON */

.btn-big {
    width: 60%;
    padding: 0.4rem;
    margin: 1.5rem 0;
    background-color: rgb(88, 88, 247);
    color: white;
    transition: all 1s;
}
.expire {
    width: 60%;
    margin: 2rem 0;
    padding: 0.5rem;
    background-color: rgba(204, 204, 239, 0);
    color: black;
}

.expire:hover {
    color: rgb(76, 76, 76);
}



.btn-big:hover {
    background-color: blue;
    color: white;
}

.arrow {
    text-align: left;
    font-size: 2rem;
}




/* SECTION-BUISNESS*/
.container {
    width: 70%;
    margin: 0 auto;
}


.input-left, .input-right {
    display: inline-block;
    line-height: 5rem;
    padding-right: 2rem;
    padding-left: 1.5rem;
}

.secondary-text {
    padding-left: 1.5rem;
}

/* SECTION-BUISNESS-COLUMNS */
.row {
    display: flex;
    justify-content: space-around;
   
}

.col {
    width: calc(90% / 3 );
    text-align: center;
    border: 1px solid lightgray;
}

.col-up {
    min-height: 2rem;
    line-height: 2rem;
    border: 1px solid lightgray;
    text-align: center;
}

.col-down-text {
    padding: 1.5rem 1.2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
}

 .col-down-section-user {
    line-height: 2.5rem;

}

.col-down-section-promo {
    margin: 2rem 0;
    min-height: 200px;
}


.p-big i {
    padding: .4rem;
}

.p-small i {
    font-size: .8rem;
    padding: .2rem;
    
}
.p-small {
    font-size: .8rem;
    line-height: 2.5em;
      
}
.btn-big-col {
    margin: 2rem 0;
    padding: .5rem;
    font-size: .8rem;
    text-align: center;
    background-color: rgb(88, 88, 247);
    color: white;
    transition: all 1s;
}

.btn-big-col:hover {
    background-color: blue;
    color: white;
    transform: scale(1.01);
}

.underline {
    line-height: 1.8rem;
    text-decoration: underline;
    color: blue;
}

.short-line {
    margin: 3rem 0;
    width: 20%;
    color: gray;
}

.unordered-list-plans {
    font-size: .8rem;
    line-height: 1.8rem; 
}

.lists {
    line-height: 2rem;
}


.fa-check {
    color: blue;
}

.gray-text {
    color: gray;
    font-size: .8rem;
}

/* SECTION-HORIZONTAL-BUISNESS */

.row-second {
    width: 100%;
    margin: 2rem auto;
    padding: 0 1.1rem;
}

.horizontal-col-up {
    min-height: 2rem;
    border: 1px solid gray;
    text-align: center;
    line-height: 2rem;
    
}

.horizontal-col-down {
    display: flex;
    border: 1px solid lightgray;
    justify-content: space-around;
    padding: 1rem 0; 
    align-items: baseline; 
}


.text-col-horizontal {
    line-height: 3rem;
}

.left-col-down {
    width: 65%;
}

.offers {
    padding: 2rem 0;
}
.right-col-down {
    text-align: start;
    width: 25%;
}


.col-section-third {
    margin: 5rem auto;
    display: flex;
    justify-content: space-around;
}

.col-immage {
    width: 55%;
}

.col-text {
    width: 35%;
    padding: 2.5rem 0;

}

.btn-partner {
    width: 50%;
    border: 1px solid black;
    text-align: center;
    padding: .5rem;
    transition: all 2s;   
}

.btn-partner:hover {
    background-color: gray;
    color: white;
    transform: scale(1.03);
    border: none;
    
}

/* SECTION-DROPBOX-BUISNESS*/

.wrapper-text {
    width: 100%;
    margin: 1.5rem 2rem;
}

.row-big {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

}

.columns {
    width: calc(90% / 3);

}

.cards {
    padding: 2rem;
    line-height: 1.5; 
}



.small-container {
    margin: 5rem 0;
    padding-left: 2rem;
    width: 50%;
    line-height: 3rem;
}

/* TEAM SPONSOR WRAPPER */

.team-sponsor-wrapper {
    width: 100%;
    min-height: 400px;
}

.row-sponsor {
    display: flex;

    
}

.col-sponsor {
    width: calc(100% / 3);
    
}

.col-sponsor-left, .col-sponsor-right {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(211, 211, 211, 0.566);

}


.cards-sponsor {
    width: calc(100% / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.col-sponsor-center .cards-sponsor-center {
    width: 40%;
    display: flex;
    
}
.col-sponsor-center {
    background-color:  lightgray;
    padding: 2rem;
    height: 60vh;
    overflow-y: scroll; 
}
.col-sponsor-center:hover{
    background-color: gray;
    color: aliceblue;
    
}

.col-sponsor-center:active {
    font-size: 1.3rem;
}

.img-small {
    max-height: 100px;
}
.img-smaller {
    max-height: 80px;
}

/* TEAMS BACKGROUND */

.background-colored-red {
    background-color: rgba(255, 61, 61, 0.74);
    filter: brightness(80%);
}
.background-colored-red:hover {
    filter: brightness(100%);
}



.background-colored-yellow {
    background-color: rgba(248, 248, 79, 0.797);
    filter: brightness(80%);
}
.background-colored-yellow:hover {
    filter: brightness(100%);
}


.background-colored-green {
    background-color: rgba(78, 241, 97, 0.865);
    filter: brightness(80%);
}
.background-colored-green:hover {
    filter: brightness(100%);
}

.background-colored-blu {
    background-color: rgba(79, 79, 244, 0.733);
    filter: brightness(80%);
}
.background-colored-blu:hover {
    filter: brightness(100%);
}

.background-colored-violet{
    background-color: rgba(255, 139, 255, 0.833);
    filter: brightness(80%);
}
.background-colored-violet:hover {
    filter: brightness(100%);
}


/* WRAPPER BUSINESS DROPBOX */

.wrapper-business-dropbox {

    width: 100%;
    min-height: 300px;
    background-color: rgb(148, 237, 237);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-business-left-text {
    width: 25%;
    margin: 0 auto;
    padding-left: 2rem;
    color: rgb(69, 10, 10);
}
.wrapper-business-left-text:hover {
      
    color: rgb(165, 30, 30);
}

.btn-cta-gray {
    margin: 0 auto;
    background-color: rgb(244, 238, 238);
    padding: .8rem;
}

.btn-cta-gray:hover {
    transform: scalex(1.1);
    background-color: rgb(180, 180, 180);
}

/* QUESTIONS-ANSWER */


.container-questions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.questions {
    margin: 5rem 0;
    width: 60%;
    padding: 1rem;
 
}

.the-questions {
    padding: 2rem 0;
    line-height: 3rem;
   
}

.question-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    font-weight: bold;
}

.visible1 {
    display: block;
}

.visible2 {
    display: none;
}

.questions-answer:active .visible1 {
    display: block;
}

.questions-answer:active .visible2 {
    display: block;
    height: 100px;
    font-size: 1rem;
    font-weight: normal;
    
}