/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}




/* COMMON */





/* HEADER */

nav {
    width: 100%;
    margin: 0 auto;
    height: 60px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
   
}


.menu-nav-left  ul li, .menu-nav-right ul li {
    display: inline-block;
    line-height: 60px;
    padding: .4rem .6rem;
    list-style-type: none;
}

li .logo {
    line-height: 30px;
    vertical-align: middle;
}

/* HERO */

.hero {
    width: 100%;
    background-color: blueviolet;
    text-align: center;
    padding-top: 60px;
}

/* MAIN-TEXT */
.principal-text {
    width: 70%;
    margin: 0 auto ;
    text-align: center;
}

/* COLUMN-HERO */
.col-hero{
    width: 70%;
    margin: 5rem auto;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    position: relative;
}

.container {
    width: 70%;
    margin: 0 auto;
    border: 1px solid black;

}

.input-left, .input-right {
    display: inline-block;
    line-height: 5rem;
     padding-right: 2rem;
}

.row {
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    min-height: 100px;
    background-color: bisque;
    
}

.col {
    width: calc(90% / 3 );
    border: 2px solid black;
    text-align: center;
}

.col-up {
    min-height: 2rem;
    background-color: beige;
    border: 1px solid green;
}

.col-down-text {
    padding: .5rem 1.2rem;
}

.row-second {
    width: 100%;
    margin: 2rem auto;
}

.horizontal-col-up {
    min-height: 2rem;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 2rem;
    
}

.horizontal-col-down {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    
}

.left-col-down {
    background-color: aqua;
    width: 65%;
}
.right-col-down {
    background-color: rgb(8, 207, 35);
    width: 25%;
}